<div class="container p-4 mw-100">
    <div class="row mx-4 justify-content-center">
        {{#each questions}}
            <div class="col-md-9 align-items-center justify-content-center">
                <div class="card text-center">
                    <div class="card-body align-items-center justify-content-center">
                        <p class="card-title text-uppercase text-dark">
                            {{round}}
                        </p>
                        <p class="card-title text-uppercase text-dark">
                            {{category}}
                        </p>
                        <div "card-body">
                        <img src="{{image}}" alt="image" width="700px" height="400px"/>
                        </div>
                        <p class="card-title text-uppercase text-dark">
                            {{question}}
                        </p>
                        <div class="card-body">
                        <div>
                        <button type="button" class="btn btn-primary container-fluid my-8 m-2">
                            {{answer}}
                        </button>
                        </div>
                        <div>
                        <button type="button" class="btn btn-primary container-fluid my-8 m-2">
                            {{incorrect1}}
                        </button>
                        </div>
                        <div>
                        <button type="button" class="btn btn-primary container-fluid my-8 m-2">
                            {{incorrect2}}
                        </button>
                        </div>
                        <div>
                        <button type="button" class="btn btn-primary container-fluid my-8 m-2">
                            {{incorrect3}}
                        </button>
                        </div>
                        </div>

                        <a href="links/questions/{1}" class='btn btn-success mx-12 my-2 px-5'>Next</a>
                    </div>
                </div>
            </div>
        {{/each}}

    </div>
</div>