<div class="container p-4">
    <div class="row">

        {{#each users}}
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <p class="card-title text-uppercase text-dark">
                            {{firstName}}
                        </p>
                        <p class="card-title text-uppercase text-dark">
                            {{lastName}}
                        </p>
                        <p class="card-title text-uppercase text-dark">
                            {{typeOfAward}}
                        </p>
                        <p class="text-dark">
                            {{timeago created_at}}
                        </p>
                        <a href='/links/delete/{{id}}' class='btn btn-danger my-2'>Delete</a>
                        <a href='/links/edit/{{id}}' class='btn btn-secondary my-2'>Edit</a>
                    </div>
                </div>
            </div>
            {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p class='text-dark'>There are not links saved yet.</p>
                    <a href="/links/add">Create One!</a>
                </div>
            </div>
        {{/each}}

    </div>
</div>